.header__top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media (max-width: 900px) {
        display: none;
    }
}

.header__top-container {
    display: flex;
    justify-content: flex-end;
}

.header__top-block {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__top-block:not(:last-child) {
    margin-right: 6.25rem;
}

.header__top-icon {
    position: relative;
    width: 0.625rem;
    margin-right: 0.781rem;

    svg {
        fill: rgba(0, 0, 0, 1)
    }

    &::before {
        content: '';
        display: block;
        padding-top: 150%;
    }
}

.header__top-text {
    color: #000000;


    font-size: 0.625rem;
    line-height: 0.937rem;
}