.info {
    padding-top: 6.437rem;
    padding-bottom: 5.156rem;
}

.info__title {
    margin-top: 0;
    margin-bottom: 2.32rem;

    border: none;
    color: #222222;


    font-weight: 600;
    font-size: 1.875rem;
    line-height: 1.875;

}

.info__desc {
    max-width: 54.017%;
    margin-top: 0;
    margin-bottom: 3.331rem;
    border: none;

    color: #525252;


    font-size: 1rem;
    line-height: 1.875;
    font-weight: 400;
}

.info__image-container {
    position: relative;
    width: 92.564%;
    
    &::before {
        content: '';
        display: block;
        padding-top: 49.492%;
    }
}