.heading__team{
    padding-top: 8.687rem;
    padding-bottom: 8.125rem;
}

.team__title{
    margin-top: 0;

    font-size: 1.562rem;
    font-weight: 600;
    line-height: 1.804;
}

.team__person{
    justify-content: space-between;
    display: flex;
    margin-top: 3.312rem;
}



.john__place{
    margin-bottom: 8.125rem;
    border-radius: 1.25rem;
    width: 24%;
    flex-shrink: 0 ;

    background-color: #F5F5F5;

    cursor: pointer;
}

.john__image{
    margin-top: 2.187rem;
    margin-left: 5.375rem;
}

.john__name{
    margin-left: 6rem;
}
.john__work{
    margin-left: 8.062rem;


    font-size: 1rem;
    font-weight: 300;
    line-height: 2.025;

    color: #8B8B8B;
}
.team__title{
    margin-top: 0;

    font-size: 1.562rem;
    font-weight: 600;
    line-height: 1.804;
}

.team__person{
    justify-content: space-between;
    display: flex;
    margin-top: 3.312rem;
}



.john__place{
    margin-bottom: 8.125rem;
    border-radius: 1.25rem;
    width: 24%;
    flex-shrink: 0 ;

    background-color: #F5F5F5;

    &:hover {
        box-shadow: 0px 4px 94px 0px #00000026;
        background-color: #FFFFFF;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}

.john__image{
    margin-top: 2.187rem;
    margin-left: 5.375rem;
}

.john__name{
    margin-left: 6rem;
}
.john__work{
    margin-left: 8.062rem;


    font-size: 1rem;
    font-weight: 300;
    line-height: 2.025;

    color: #8B8B8B;
}