.contact-mail {
    padding-top: 4.562rem;
    padding-bottom: 12.562rem;
}

.contact-mail__title {
    margin-top: 0;
    margin-bottom: 2rem;

    color: black;


    font-size: 1.875rem;
    line-height: 1.875;
    font-weight: 600;
}

.contact-mail__desc {
    margin-top: 0;
    margin-bottom: 4.625rem;
    max-width: 34.062rem;

    color: rgba(82, 82, 82, 1);

    font-size: 1rem;
    line-height: 1.875;
    font-weight: 400;
}

.contact-mail__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3.125rem;

    border-radius: 0.937rem;
    background-color: black;
}

.contact-mail__content {
    max-width: 44.358%;
}

.contact-mail__inner-title {
    margin-top: 0;
    margin-bottom: 0.625rem;

    color: #FFFFFF;


    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.5;
}

.contact-mail__inner-desc {
    margin-top: 0;
    margin-bottom: 0;

    color: #FFFFFF;


    font-weight: 400;
    font-size: 1.062rem;
    line-height: 1.5;
}

.contact-mail__form{
    position: relative;
    width: 32.905%;

    border-radius: 0.5rem;
    overflow: hidden;
}

.contact-mail__btn{
    position: absolute;
    top: 50%;
    right: 0.39rem;
    height: 77.083%;
    transform: translateY(-50%);
    padding: 0 1.115rem;
    border-radius: 0.5rem;
    border: none;

    background-color: #DC7000;
    color: #FFFFFF;


    font-weight: 400;
    font-size: 0.812rem;
    line-height: 1.484rem;

    cursor: pointer;
}

.contact-mail__inp{
    width: 100%;
    padding: 0.875rem 1.284rem;


    font-size: 0.812rem;
    line-height: 1.5;
    font-weight: 300;
}

@media (max-width: 900px) {
    .contact-mail__wrapper {
        flex-direction: column;
    }

    .contact-mail__content {
        width: 100%;
        max-width: 100%;
    }

    .contact-mail__inner-title {
        margin-bottom: 1.5rem;
    }

    .contact-mail__inner-desc {
        margin-bottom: 2.687rem;
    }

    .contact-mail__form {
        width: 100%;
    }
}