.john__box {
    flex-direction: column;
    width: 50.17%;
    border-bottom: 0.7px solid#A5A5A5;
    margin-bottom: 5.625rem;
}
.general__john {
    margin-top: 6.437rem;
    display: flex;
    align-items: flex-start;
}

.name {
    margin-top: 1.131rem;
}

.surname {
    width: 10.25rem;
    padding: 0.562rem 1.75rem 0.625rem 2rem;

    border: none;
    background-color: #2351F5;


    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875;

    cursor: pointer;
}

.john__text-title {
    padding-top: 1.312rem;


    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.5;

    color: #000000;
}

.john__text-desc {
    padding-top: 2rem;


    font-size: 1.062rem;
    font-weight: 400;
    line-height: 2.078;

    color: #515151;
}

.john__text-desc2 {
    margin-bottom: 5.625rem;
    margin-top: 2.75rem;


    font-size: 1.062rem;
    font-weight: 400;
    line-height: 2.078;

    color: #515151;
}

.general__john-smash {
    margin-top: 0;
    padding-left: 4.5rem;
    list-style: none;
}

.john:not(:last-child) {
    margin-bottom: 3.75rem;
}

.john-page {
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    width: 12.187rem;
    flex-shrink: 0;
}

.image::before {
    content: '';
    display: block;
    padding-top: 93.846%;
}

.ipsum {
    padding-left: 1.937rem;
}

.ipsum__button {
    margin-bottom: 1.437rem;
    padding: 0.437rem 1.625rem;


    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.875;

    color: #FFFCFC;
    border: none;

    cursor: pointer;
}

.ipsum__button--black {
    background-color: #000000;
}

.ipsum__button--blue {
    background-color: #2351F5;
}

.ipsum__button--orange {
    background-color: #FF7C32;
}

.ipsum__button--green {
    background-color: #23A54F;
}

.ipsum__button--purple {
    background-color: #9921C3;
}

.ipsum__title {
    margin-top: 0;
    margin-bottom: 0;


    font-size: 1.437rem;
    font-weight: 600;
    line-height: 1.5;

    color: #000000;
}