.loop {
    padding-bottom: 12.562rem;
}

.loop__wrapper{
    background-color: #000000;
    display: flex;

    height: 11.812rem;
    border-radius: 0.937rem;

}

.loop__title {
    font-family: 'Popins',sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.5;

    color: #FFFFFF;

    margin-left: 3.5rem;
}

.loop__desc {
    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 1.062rem;
    line-height: 1.5;

    color: #FFFFFF;
}

.form{
    position: relative;
    width: 24.105rem;
    margin-top: 4.437rem;
    margin-right: 3.125rem;

    border-radius: 0.5rem;

}

.form-btn{
    position: absolute;
    right: 0;
    width: 6.526rem;
    height: 2.213rem;
    border-radius: 0.5rem;

    background-color: #DC7000;
    color: #FFFFFF;

    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 0.812rem;
    line-height: 1.484rem;

    margin-top: 0.375rem;
    margin-right: 0.616rem;

    padding: 0.5rem 0.484rem 0.562rem 1.387rem;
}

.form-inp{
    height: 3rem;
    width: 24.105rem;
    position: absolute;
    width: 100%;

    padding: 0.875rem 13.126rem 0.875rem 1.284rem;
}
