.video__info{
    padding: 8.301rem 9.157rem 0px 6.815rem;
}

.video__img{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.video__info-text{
    padding-left: 5.468rem;
    align-items: center;
}

.video__info-title{
    font-family: 'Popins',sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.805;

    color: #222222;
}

.video__info-desc{
    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.875;

    color: #525252;
}

.video__nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}

.video__nav-list{
    font-family: 'Popins',sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.875;

    color: #525252;
}
