.info__container {
    display: flex;
    background-color: #F5F5F5;
}


.info__image-container {
    color: #C4C4C4
}

.info__dots {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    width: 14.187rem;

    &::before {
        content: '';
        padding-top: 78.414%;
        display: block;
    }
}


.info__title {
    font-family: 'Popins', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.875;
    
    color: #000000;
}

.info__desc {
    
}

.info__text {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32.4px;

    color: #000000;
}