.footer {
  padding-top: 3.687rem;
  padding-bottom: 1.812rem;

  background-color: #1B1B1B;
  color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3.937rem;
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 1.25rem;


  font-weight: 700;
  font-size: 1.562rem;
  line-height: 1.552;

  color: #FFFFFF;
  text-transform: uppercase;
  display: block;
}

.footer__nav {
  display: flex;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 0.937rem;


  font-size: 1.062rem;
  line-height: 1.5;
  font-weight: 500;
}

.footer__block-container {
  display: flex;
}

.footer__block {
  display: flex;
  flex-direction: column;
}

.footer .footer__block:first-child {
  max-width: 23.25rem;
}

.footer__block.footer__block--row {
  width: 15.646%;
  align-self: flex-end;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.footer__block-container .footer__block:first-child {
  margin-right: 8.125rem;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #FFFFFF
}

.footer__link {
  color: #FFFFFF;

  font-size: 1rem;
  line-height: 1.868;
  text-transform: capitalize;
  text-decoration: none;
}

.footer__item {
  color: #FFFFFF;

  font-size: 1rem;
  line-height: 1.868;
  text-transform: capitalize;
}

.footer__icon {
  position: relative;
  display: block;
  width: 1rem;
  z-index: 1;

  svg {
    fill: black;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 200%;
    background-color: #fff;
    border-radius: 100%;
    transform: translateX(-22%) translateY(-22%);
    z-index: -1;
  }
}

.footer__icon:not(:last-child) {
  margin-right: 1rem;
}

.footer__line {
  height: 0.8px;
  width: 100%;

  background-color: #FFFFFF;
}

.footer__bottom{
  padding-top: 1.812rem;
}

.footer__bottom-title {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}