*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Popins', sans-serif;
  font-size: 1.111vw;
  box-sizing: border-box;

  @media (max-width: 900px) {
    font-size: max(13px, 2.857vw);
  }
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.page-container {
  width: 81.25%;
  margin: 0 auto;

  @media (max-width: 900px) {
    &-left--mobile {
      width: 89.333%;
      margin: 0 auto 0 0;
    }
  }
}

.page-container-big {
  width: 84.722%;
  margin: 0 auto;
}

.img-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img, svg {
    max-width: 100%;
    max-height: 100%;
  }
}