.lorem{
    margin: 0;
    padding: 0;
}
.lorem__info{
    padding: 189.23px 161px 0px 109px;
    display: flex;
}

.lorem-text{
    padding-right: 138px;
}
.lorem-title{
    font-family: 'Popins',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    color: #000000;
}

.lorem-desc{
    font-family: 'Popins',sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;

    color: #515151
}

.lorem-btn{
    margin-top: 46px;
    padding: 13px 45px ;

    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    background-color:#DC7000;
    border: none;
    cursor: pointer;
}

.lorem2{
    margin: 0;
    padding: 0;
}
.lorem2__info{
    display: flex;
    padding: 207px 174px 0px 118px;
}

.lorem2-text{
    padding-left: 138px;
}
.lorem2-title{
    font-family: 'Popins',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    color: #000000;
}

.lorem2-desc{
    font-family: 'Popins',sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;

    color: #515151
}

.lorem2-btn{
    margin-top: 46px;
    padding: 13px 45px ;

    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    background-color:#DC7000;
    border: none;
    cursor: pointer;
}


.lorem3{
    margin: 0;
    padding: 0;
}
.lorem3__info{
    padding: 190px 161px 138px 109px;
    display: flex;
}

.lorem3-text{
    padding-right: 138px;
}
.lorem3-title{
    font-family: 'Popins',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    color: #000000;
}

.lorem3-desc{
    font-family: 'Popins',sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;

    color: #515151
}

.lorem3-btn{
    margin-top: 46px;
    padding: 13px 45px ;

    font-family: 'Popins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    background-color:#DC7000;
    border: none;
    cursor: pointer;
}
