.heading__partnership {
    padding-top: 4.375rem;
    padding-bottom: 6.562rem;

    background-color: #E5E5E5;
}

.partnership__desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.062rem;

}

.partners{
    cursor: pointer;
}